{% macro render_field(field, placeholder='', icon=None) %}
<div class="uk-margin">
  <div class="uk-position-relative">
    {% if icon %}<i class="uk-form-icon" uk-icon="{{ icon }}"></i>{% endif %}
    {{ field(placeholder=placeholder, class='uk-input') }}
  </div>
</div>
{% endmacro %}
