{% macro render_profile(label, data) %}
<div class="uk-grid">
  <div class="uk-width-1-4@m">
    <label class="uk-align-right">{{ label }}：</label>
  </div>
  <div class="uk-width-auto@m">
    <span class="uk-align-left">{{ data }}</span>
  </div>
</div>
{% endmacro %}
