{% extends 'base.html' %}
{% block content %}
      <div>
	<h3>講義追加</h3>
	
	<form class="uk-form-stacked" method="POST">
	  <div class="uk-margin">
	    <label class="uk-form-label" for="name">科目名</label>
	    <div class="uk-form-controls">
	      <input name="name" class="uk-input" id="name" type="text" placeholder="科目名を正しく入力してください">
	    </div>
	  </div>
	  
	  <div class="uk-margin">
	    <label class="uk-form-label" for="subtitle">講義題目</label>
	    <div class="uk-form-controls">
	      <input name="subtitle" class="uk-input" id="subtitle" type="text" placeholder="講義のタイトルを入力してください">
	    </div>
	  </div>

	  <div class="uk-margin">
	    <label class="uk-form-label" for="start">開始日時</label>
	    <div class="uk-form-controls">
	      <input type="text" id="start" name="end" class="uk-input flatpickr" placeholder="日時を選択してください" readonly="readonly">
	      <script>
	       flatpickr("#start", {enableTime: true, dateFormat: "Y-m-d H:i"});
	      </script>
	    </div>
	  </div>

	  <div class="uk-margin">
	    <label class="uk-form-label" for="end">終了日時</label>
	    <div class="uk-form-controls">
	      <input type="text" id="end" name="end" class="uk-input flatpickr" placeholder="日時を選択してください" readonly="readonly">
	      <script>
	       flatpickr("#end", {enableTime: true, dateFormat: "Y-m-d H:i"});
	      </script>
	    </div>
	  </div>

	  <div class="uk-margin">
	    <label class="uk-form-label" for="limit">出席受付期間（分）</label>
	    <input type="number" id="limit" name="limit" class="uk-input flatpickr" value="15" placeholder="分単位で入力してください">
	  </div>

	  <div class="uk-margin">
	    <label class="uk-form-label" for="limit">出席パスワード</label>
	    <input type="text" id="limit" name="limit" class="uk-input flatpickr" placeholder="必要なら出席パスワードを入力してください">
	  </div>

	  <div class="uk-margin">
	    <label class="uk-form-label" for="file">講義資料</label>
	    <div class="js-upload uk-placeholder uk-text-center">
	      <span uk-icon="icon: cloud-upload"></span>
	      <span class="uk-text-middle">ファイルをここにドロップするか</span>
	      <div uk-form-custom>
		<input id="file" name="file" type="file" multiple>
		<span class="uk-link">選択</span>
	      </div>
	    </div>
	    <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
	    <script>
	      var bar = document.getElementById('js-progressbar');

	      UIkit.upload('.js-upload', {

	      url: '',
	      multiple: true,

	      beforeSend: function () {
	      console.log('beforeSend', arguments);
	      },
	      beforeAll: function () {
	      console.log('beforeAll', arguments);
	      },
	      load: function () {
	      console.log('load', arguments);
	      },
	      error: function () {
	      console.log('error', arguments);
	      },
	      complete: function () {
	      console.log('complete', arguments);
	      },

	      loadStart: function (e) {
	      console.log('loadStart', arguments);

	      bar.removeAttribute('hidden');
	      bar.max = e.total;
	      bar.value = e.loaded;
	      },

	      progress: function (e) {
	      console.log('progress', arguments);

	      bar.max = e.total;
	      bar.value = e.loaded;
	      },

	      loadEnd: function (e) {
	      console.log('loadEnd', arguments);

	      bar.max = e.total;
	      bar.value = e.loaded;
	      },

	      completeAll: function () {
	      console.log('completeAll', arguments);

	      setTimeout(function () {
	      bar.setAttribute('hidden', 'hidden');
	      }, 1000);

	      alert('Upload Completed');
	      }

	      });
	      </script>
	  </div>
	  
	  <div class="uk-margin">
	    <button class="uk-button uk-button-primary uk-button-default">登録</button>
	  </div>

	</form>
      </div>
{% endblock %}
