{% set navbar = [
  ('/class', 'class', '講義'),
  ('/status-submit', 'status_submit', '提出状況'),
  ('/status-attend', 'status_attend', '出席状況')
] -%}
{% set active_page = active_page | default('/') -%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">{% if title %}
    <title>{{ title }} - {{ config.server.name }}</title>{% else %}
    <title>{{ config.server.name }}</title>{% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-color/2.1.2/jquery.color.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit-icons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  </head>
  <body>
    <div class="uk-navbar-container uk-margin" uk-navbar="mode: click">
      <div class="uk-navbar-left">
	<a href="/" class="uk-navbar-item uk-logo" uk-icon="icon: home"></a>
	<ul class="uk-navbar-nav">{% for href, id, caption in navbar %}
	  <li{% if id == active_page %} class="active"{% endif %}>
	    <a href="{{ href|e }}">{{ caption|e }}</a>
	  </li>{% endfor %}
	</ul>
      </div>
      <div class="uk-navbar-right">
	<ul class="uk-navbar-nav">
	  {% if current_user.is_authenticated %}
	  <li>
	    <a href="/profile">ユーザー</a>
	  </li>
	  <li>
	    <a href="/logout">ログアウト</a>
	  </li>
	  {% else %}
	  <li>
	    <a href="/login">ログイン</a>
	  </li>
	  {% endif %}
	</ul>
      </div>
    </div>
    <div class="uk-container uk-container-expand">{% block content %}{% endblock %}
    </div>
  </body>
</html>
