{% extends 'base.html' %}
{% block content %}
      {% for message in get_flashed_messages() %}
      {% if message %}
      <div class="uk-alert-danger" uk-alert>
	<a class="uk-alert-close" uk-close></a>
	<p>{{ message }}</p>
      </div>
      {% endif %}
      {% endfor %}
      {% set global = namespace(target = False) %}
      <div>
	<ul class="uk-tab" data-uk-tab="{connect:'#daily-class'}">
	  <li{% if get_day()==0 %} class="uk-active"{% endif %}><a href="#">月曜日</a></li>
	  <li{% if get_day()==1 %} class="uk-active"{% endif %}><a href="#">火曜日</a></li>
	  <li{% if get_day()==2 %} class="uk-active"{% endif %}><a href="#">水曜日</a></li>
	  <li{% if get_day()==3 %} class="uk-active"{% endif %}><a href="#">木曜日</a></li>
	  <li{% if get_day()==4 %} class="uk-active"{% endif %}><a href="#">金曜日</a></li>
	</ul>
	<ul id="daily-class" class="uk-switcher uk-margin">
	  {% for clist in classes %}
	  <li>
	    <a href="#" data-uk-switcher-item="{{ loop.index0 }}"></a>
	    <ul uk-accordion="multiple: true">
	    {% for class in clist %}
	      <li {% if is_open(class.name) %}class="uk-open"{% else %}class="uk-closed"{% endif %}>
		<a class="uk-accordion-title" href="#">
		  {% if class.optional %}<span class="uk-badge">選択</span> {% endif %}{{ class.name }}
		</a>
		{% if is_attendable(class.name) %}
		{% if on_attend(current_user.sid, class.name) %}
		<a class="uk-button uk-button-default uk-button-small uk-margin-left uk-disabled">出席済み</a>
		{% else %}
		<a id="btn-attend" class="uk-button uk-button-primary uk-button-small uk-margin-left" href="#">出席</a>
		{% set global.target = class.name %}
		{% endif %}
		{% elif is_open(class.name) %}
		<a class="uk-button uk-button-danger uk-button-small uk-margin-left uk-disabled">受付終了</a>
		{% endif %}
		<div class="uk-accordion-content">
		  {% if get_contents(class.name) %}
		  <ul class="uk-list uk-list-large uk-list-striped">
		    {% for content in get_contents(class.name) %}
		    <li><a href="/lecture/{{ content.id }}">[{{ content.start.strftime("%m/%d") }}] {{ content.subtitle }}</a></li>
		    {% endfor %}
		  </ul>
		  {% else %}
		  <p>講義が登録されていません</p>
		  {% endif %}
		</div>
	      </li>
	    {% endfor %}
	    </ul>
	  </li>
	  {% endfor %}
	</ul>
	{% if global.target %}
	<div id="attend-wrong" class="uk-flex-top" uk-modal>
	  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
	    <button class="uk-modal-close-default" type="button" uk-close></button>
	    <p class="uk-text-danger">
	      出席パスワードが違います．
	    </p>
	  </div>
	</div>
	<div id="attend-sorry" class="uk-flex-top" uk-modal>
	  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
	    <button class="uk-modal-close-default" type="button" uk-close></button>
	    <p class="uk-text-danger">
	      出席受付時間を過ぎています．
	    </p>
	  </div>
	</div>
	<div id="attend-error" class="uk-flex-top" uk-modal>
	  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
	    <button class="uk-modal-close-default" type="button" uk-close></button>
	    <p class="uk-text-danger">
	      通信エラーが発生しました．<br>
	      リロードしても直らない場合は管理者に問い合わせてください．
	    </p>
	  </div>
	</div>
	<script>
	 $(function() {
	     var state = true;
	     setInterval(function() {
		 if (state) {
		     state = false;
		     $("#btn-attend").animate({
			 backgroundColor: "#0f6ecd",
		     }, 500);
		 } else {
		     state = true;
		     $("#btn-attend").animate({
			 backgroundColor: "#3f9efd",
		     }, 500);
		 }
	     }, 600);
	 });
	 $("#btn-attend").on('click', function (e) {
	     e.preventDefault();
	     e.target.blur();
	     UIkit.modal.prompt('出席パスワードを入力してください', '').then(function (password) {
		 var data = {
		     'csrf_token': '{{csrf_token()}}',
		     'sid': '{{current_user.sid}}',
		     'class': '{{global.target}}',
		     'password': password
		 };
		 $.ajax({
		     type: "POST",
		     url: "/query",
		     data: data,
		     cache: false,
		     scriptCharset: 'utf-8'
		 }).then(
		     function(data) {
			 if (data == 'ok') {
			     location.reload(true);
			 } else if (data == 'sorry') {
			     UIkit.modal("#attend-sorry").show();
			 } else {
			     UIkit.modal("#attend-wrong").show();
			 }
		     },
		     function(XMLHttpRequest, textStatus, errorThrown) {
			 UIkit.modal("#attend-error").show();
		     }
		 );
	     });
	 });
	</script>
	{% endif %}
      </div>{% endblock %}
