{% extends 'base.html' %}
{% block content %}
       {% set class = get_lecture(lecture.cid) %}
      <div class="uk-container">
	<h2>{{class.subtitle}} - {{class.name}}</h2>
	<hr>
	<ul uk-accordion="multiple: true">
	  <li class="uk-open">
	    <a class="uk-accordion-title" href="#">講義内容</a>
	    <div class="uk-accordion-content">
		{% if lecture.lect %}
		{% autoescape false %}
		<div class="uk-container-fluid uk-background-muted uk-padding-small">
		    {{ lecture.lect }}
		</div>
		{% endautoescape %}
		{% endif %}
		{% if lecture.lectpath %}
		<p>講義資料を<a href="/static/lectures/{{lecture.lectpath}}">ダウンロード</a></p>
		{% endif %}
		{% if not lecture.lect and not lecture.lectpath %}
		<p>講義資料は登録されていません</p>
		{% endif %}
	    </div>
	  </li>
	  <li class="uk-open">
	    <a class="uk-accordion-title" href="#">課題内容</a>
	    <div class="uk-accordion-content">
		{% if lecture.task %}
		{% autoescape false %}
		<div class="uk-container-fluid uk-background-muted uk-padding-small">
		    {{ lecture.task }}
		</div>
		{% endautoescape %}
		{% endif %}
		{% if lecture.taskpath %}
		<p>課題資料を<a href="/static/lectures/{{lecture.taskpath}}">ダウンロード</a></p>
		{% endif %}
		{% if not lecture.task and not lecture.taskpath %}
		<p>課題資料は登録されていません</p>
		{% endif %}
	    </div>
	  </li>
	  {% if lecture.withtask %}
	  <li class="uk-open">
	    <a class="uk-accordion-title" href="#">課題提出</a>
	    <div class="uk-accordion-content">
		<p>以下のフォームから課題を提出してください</p>
		<form class="uk-form-stacked" method="POST" enctype="multipart/form-data">
		    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
		    <script>
		     function onLoad(files) {
			 if (files.length > 0) {
			     $("#upload-filename").text(files[0].name);
			 }
		     }
		    </script>
		    <div class="uk-margin">
			<div class="js-upload uk-placeholder uk-text-center">
			    <span uk-icon="icon: cloud-upload"></span>
			    <span class="uk-text-middle">ここにファイルをドロップするか</span>
			    <div uk-form-custom>
				<input type="file" name="upfile" onchange="onLoad(this.files)">
				<span class="uk-link">選択</span>
			    </div>
			    <p id="upload-filename"></p>
			</div>
		    </div>
		    <div class="uk-margin">
			<button class="uk-button uk-button-primary uk-button-default">提出</button>
		    </div>
		</form>
	    </div>
	  </li>
	  <div id="upload-error" class="uk-flex-top" uk-modal>
	      <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
		  <button class="uk-modal-close-default" type="button" uk-close></button>
		  <p class="uk-text-danger">
		      ファイルのアップロードに失敗しました．<br>
		      リロードしても直らない場合は管理者に問い合わせてください．
		  </p>
	      </div>
	  </div>
	  <script>
	   UIkit.upload('.js-upload', {
               multiple: false,
               error: function () {
		   UIkit.modal("#upload-error").show();
               }
	   });
	  </script>
	  {% endif %}
	</ul>
      </div>
{% endblock %}
