{% extends 'base.html' %}

{% block content %}
<div class="uk-section-small uk-position-center">
  <div class="uk-container uk-container-large">
    <div class="uk-card uk-card-default">
      <div class="uk-card-header">
	ログイン
      </div>
      <div class="uk-card-body">
	{% for message in get_flashed_messages() %}
	{% if message %}
	<div class="uk-alert-danger" uk-alert>
	  <a class="uk-alert-close" uk-close></a>
	  <p>{{ message }}</p>
	</div>
	{% endif %}
	{% endfor %}
	<form method="POST">
          <fieldset class="uk-fieldset">
	    {% from "_formhelper.html" import render_field %}
	    {{ form.csrf_token }}
	    {{ render_field(form.sid, placeholder='学籍番号', icon='user') }}
	    {{ render_field(form.password, placeholder='パスワード', icon='lock') }}
	    <center>
	      <div class="uk-margin">
		<input type="submit" name="submit" class="uk-button uk-button-primary" value="ログイン">
	      </div>
	    </center>
          </fieldset>
	</form>
      </div>
    </div>
  </div>
</div>{% endblock %}
