{% extends 'base.html' %}

{% block content %}
<div class="uk-container-small uk-align-center">
  <h3>ユーザー情報</h3>
  {% from "_profilehelper.html" import render_profile %}
  {{ render_profile("学籍番号", current_user.sid) }}
  {{ render_profile("学年", current_user.grade|string + "年") }}
  {{ render_profile("出席番号", current_user.number|string + "番") }}
  {{ render_profile("氏名", current_user.name) }}
</div>
{% endblock %}
