{% extends 'base.html' %}
{% block content %}
      <div>
	<h3>{{current_user.name}} さんの出席状況</h3>
	<ul class="uk-tab" data-uk-tab="{connect:'#daily-class'}">
	  <li{% if get_day()==0 %} class="uk-active"{% endif %}><a href="#">月曜日</a></li>
	  <li{% if get_day()==1 %} class="uk-active"{% endif %}><a href="#">火曜日</a></li>
	  <li{% if get_day()==2 %} class="uk-active"{% endif %}><a href="#">水曜日</a></li>
	  <li{% if get_day()==3 %} class="uk-active"{% endif %}><a href="#">木曜日</a></li>
	  <li{% if get_day()==4 %} class="uk-active"{% endif %}><a href="#">金曜日</a></li>
	</ul>
	<ul id="daily-class" class="uk-switcher uk-margin">
	  {% for clist in classes %}
	  <li>
	    <a href="#" data-uk-switcher-item="{{ loop.index0 }}"></a>
	    <ul uk-accordion="multiple: true">
	    {% for class in clist %}
	      <li class="uk-open">
		<a class="uk-accordion-title" href="#">
		  {% if class.optional %}<span class="uk-badge">選択</span> {% endif %}{{ class.name }}
		</a>
		<div class="uk-accordion-content">
		  <div class="uk-grid">
		    {% set attend_list = get_attend_list(current_user.sid, class.name) %}
		    {% if attend_list|length == 0 %}
		    <p>講義内容が登録されていません</p>
		    {% else %}
		    {% set attend_rate = get_attend_rate(attend_list) %}
		    <div class="uk-width-1-4">
		      <canvas id="attend-rate-{{class.id}}"></canvas>
		      <script>
		       var ctx = document.getElementById("attend-rate-{{class.id}}");
		       var myChart = new Chart(ctx, {
			   type: 'doughnut',
			   data: {
			       datasets: [{
				   data: [{{attend_rate}}, {{1.0 - attend_rate}}],
				   backgroundColor: ["#50E070", "#F05030"]
			       }],
			       labels: ['出席', '欠席']
			   }
		       });
		      </script>
		    </div>
		    <div class="uk-width-3-4">
		      <table class="uk-table uk-table-divider">
			<thead>
			  <tr>
			    {% for data in attend_list.items()|sort %}
			    <th>{{ data.0.strftime('%m/%d') }}</th>
			    {% endfor %}
			  </tr>
			</thead>
			<tbody>
			  <tr>
			    {% for data in attend_list.items()|sort %}
			    <td>{% if data.1 %}<span class="uk-text-success" uk-icon="icon: check;"></span>{% else %}<span class="uk-text-danger" uk-icon="icon: close;"></span>{% endif %}</td>
			    {% endfor %}
			  </tr>
			</tbody>
		      </table>
		    </div>
		    {% endif %}
		  </div>
		</div>
	      </li>
	    {% endfor %}
	    </ul>
	  </li>
	  {% endfor %}
	</ul>
      </div>{% endblock %}
