{% extends 'base.html' %}
{% block content %}
      <div>
	<h3>{{current_user.name}} さんの提出状況</h3>
	<ul class="uk-tab" data-uk-tab="{connect:'#daily-class'}">
	  <li{% if get_day()==0 %} class="uk-active"{% endif %}><a href="#">月曜日</a></li>
	  <li{% if get_day()==1 %} class="uk-active"{% endif %}><a href="#">火曜日</a></li>
	  <li{% if get_day()==2 %} class="uk-active"{% endif %}><a href="#">水曜日</a></li>
	  <li{% if get_day()==3 %} class="uk-active"{% endif %}><a href="#">木曜日</a></li>
	  <li{% if get_day()==4 %} class="uk-active"{% endif %}><a href="#">金曜日</a></li>
	</ul>
	<ul id="daily-class" class="uk-switcher uk-margin">
	  {% for clist in classes %}
	  <li>
	    <a href="#" data-uk-switcher-item="{{ loop.index0 }}"></a>
	    <ul uk-accordion="multiple: true">
	      {% for class in clist %}
	      <li class="uk-open">
		<a class="uk-accordion-title" href="#">
		  {% if class.optional %}<span class="uk-badge">選択</span> {% endif %}{{ class.name }}
		</a>
		<div class="uk-accordion-content">
		</div>
	      </li>
	      {% endfor %}
	    </ul>
	  </li>
	  {% endfor %}
	</ul>
      </div>{% endblock %}
      
